@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap");

/* GLOBAL STYLES */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4 p,
figure,
picture {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5 {
  text-transform: capitalize;
  font-weight: 400;
}
body {
  line-height: 1.5;
  min-height: 100vh;
  font-family: var(--ff-sans-normal);
  font-size: var(--fs-400);
  background-color: rgb(var(--clr-dark));
  color: rgb(var(--clr-white));
}
a {
  text-decoration: none;
}

/* imgs easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}
/* remove animation for people who turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01sms !important;
    scroll-behavior: auto !important;
  }
}
p {
  margin-top: 1rem;
}
/* =========
utility clases 
=========== */
.hidden {
  display: none;
}
.inline {
  display: inline-block;
}
.flex {
  display: flex;
  gap: var(--gap, 1rem);
}
.grid {
  display: grid;
  gap: var(--gap, 1rem);
}
.d-block {
  display: block;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}
.board-container {
  border: 4px solid black;

  /* min-height: 100vh; */

  max-width: 645px;
  max-height: 645px;
  min-height: 645px;
  /* display: grid;
  grid-template-columns: ;
  grid-template-rows: ; */
  gap: 0;
  margin: 4rem;
}
.board-container div {
  border: 1px solid black;
  height: auto;
  width: auto;
  transition: 0s 180s;
}
.board-container div:hover {
  background-color: rgb(196, 34, 34);
  transition: 0s;
}
